/* You can add global styles to this file, and also import other style files */

body{
    background: #fffeee;
    margin: 0px auto;
}

.take-rest-space{
    flex: 1 1 auto;
}

footer{
    min-height: 200px;
    width: 100%;
    margin: 0px auto;
    background: #444;
}

footer .footer-social-buttons ul{
    list-style: none;
}
footer .footer-social-buttons ul li{
    display: inline-flex;
}
footer .footer-social-buttons ul li a{
    font-style: normal;
}